@use '../abstracts' as u;

html {
  font-size: 62.5%; // 10px
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
