@use '../abstracts' as u;

body {
  min-height: 100vh;
  line-height: 1.3;
  font-family: u.$fm-PublicSans;
  font-size: u.$fz-md;
  font-weight: 300;
  color: u.$grayishBlue;

  &.noscroll {
    overflow: hidden;
  }
}
