// Colors Primary
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);

// Colors Neutral
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

// Fonts

$fz-md: 1.4rem;
$fz-lg: 1.8rem;
$fz-heading-primary-md: 3.8rem;
$fz-heading-primary-lg: 5.2rem;
$fz-heading-secondary-md: 3.2rem;
$fz-heading-secondary-lg: 5.2rem;
$fz-heading-tertiary-md: 1.8rem;
$fz-heading-tertiary-lg: 2.8rem;

$fm-PublicSans: 'Public Sans', sans-serif;

$grid__cols: 12;
$grid__col-gap-md: 12;
$grid__col-gap-lg: 12;
$grid__row-gap-md: 6.2rem;
$grid__row-gap-lg: 8rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);
