// Colors Primary
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);

// Colors Neutral
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Fonts

$fz-sm: 1.4rem;
$fz-md: 1.8rem;
$fz-heading-primary-md: 3rem;
$fz-heading-primary-lg: 5rem;

$fm-PublicSans: 'Public Sans', sans-serif;

$grid__cols: 12;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);
