@use '../abstracts' as u;

.container {
  max-width: 100%;
  min-height: inherit;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  margin-inline: auto;

  @include u.breakpoint-up(md) {
    max-width: map-get(u.$container-max-widths, md);
  }
  @include u.breakpoint-up(lg) {
    max-width: map-get(u.$container-max-widths, lg);
  }
  @include u.breakpoint-up(xl) {
    max-width: map-get(u.$container-max-widths, xl);
  }
  @include u.breakpoint-up(xxl) {
    max-width: map-get(u.$container-max-widths, xxl);
  }
}

.grid {
  display: grid;
  // column-gap: 6.4rem;
  // row-gap: u.$grid__row-gap-md;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
